{
    "openapi": "3.0.3",
    "info": {
        "title": "Insights API V3",
        "description": "This documentation has been automatically generated by Treblle. Visit https:\/\/treblle.com\/ and get started for FREE.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/api.apiinsights.io\/v1\/"
        }
    ],
    "paths": {
        "\/": {
            "get": {
                "operationId": "09dbdf87-7acd-466d-bb62-cc3bf48cc245",
                "responses": {
                    "200": {
                        "description": "GET \/",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/reports": {
            "post": {
                "operationId": "3d25b586-01cf-4a6e-955a-b6ffc99e5b22",
                "tags": [
                    "reports"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "file_name": {
                                        "type": "string"
                                    },
                                    "file_size": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "POST \/reports",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "report": {
                                            "type": "object",
                                            "properties": {
                                                "uuid": {
                                                    "type": "string"
                                                },
                                                "share_url": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "base_url": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                },
                                                "total_endpoints": {
                                                    "type": "string"
                                                },
                                                "created": {
                                                    "type": "object",
                                                    "properties": {
                                                        "timestamp": {
                                                            "type": "string"
                                                        },
                                                        "human": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "score_percentage": {
                                                    "type": "string"
                                                },
                                                "grade": {
                                                    "type": "string"
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "score_percentage": {
                                                                "type": "string"
                                                            },
                                                            "grade": {
                                                                "type": "string"
                                                            },
                                                            "total_issues": {
                                                                "type": "string"
                                                            },
                                                            "tests": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "title": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/reports\/{uuid}": {
            "get": {
                "operationId": "73166960-e39b-48c3-9deb-952663d4bb14",
                "tags": [
                    "reports"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GET \/reports\/{uuid}",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "report": {
                                            "type": "object",
                                            "properties": {
                                                "uuid": {
                                                    "type": "string"
                                                },
                                                "share_url": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "base_url": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                },
                                                "total_endpoints": {
                                                    "type": "string"
                                                },
                                                "created": {
                                                    "type": "object",
                                                    "properties": {
                                                        "timestamp": {
                                                            "type": "string"
                                                        },
                                                        "human": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "score_percentage": {
                                                    "type": "string"
                                                },
                                                "grade": {
                                                    "type": "string"
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "score_percentage": {
                                                                "type": "string"
                                                            },
                                                            "grade": {
                                                                "type": "string"
                                                            },
                                                            "total_issues": {
                                                                "type": "string"
                                                            },
                                                            "tests": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "title": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "BearerAuth": []
        }
    ]
}
